{erl_opts, [warnings_as_errors]}.
{deps, [
  {jiffy, ".*",     {git, "git://github.com/davisp/jiffy",
    {tag, "0.14.8"}}},
  {base64url, ".*", {git, "git://github.com/dvv/base64url.git",
    {tag, "bab9f431693a8888528d5c2db933c6f222c6fd44"}}},
  {ej, ".*",     {git, "git://github.com/seth/ej.git",
    {tag, "0.0.3"}}}
]}.
