{minimum_otp_vsn, "18.1"}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{deps, [
        {base64url, {git, "https://github.com/dvv/base64url.git", {tag, "v1.0"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}}
       ] 
}.
{plugins, [
           {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.4"}}},
           rebar3_proper,
           rebar3_auto,
           rebar3_run
          ]}.

